[submodule "darurat-android-app"]
	path = darurat-android-app
	url = git@github.com:Adranaut/DaruratIndonesianUrgentResponse.git
[submodule "darurat-user-api"]
	path = darurat-user-api
	url = git@github.com:aliifam/darurat-user-api.git
[submodule "darurat-admin-panel"]
	path = darurat-admin-panel
	url = git@github.com:aliifam/darurat-admin.git
[submodule "darurat-chatbot"]
	path = darurat-chatbot
	url = git@github.com:aliifam/darchat-prod.git
[submodule "darurat-chatbot-englih-model"]
	path = darurat-chatbot-englih-model
	url = git@github.com:safinakinanthi/First-Aid-Chatbot.git
[submodule "darurat-chatbot-indonesia-model"]
	path = darurat-chatbot-indonesia-model
	url = git@github.com:seouiaa/First-Aid-Indo.git
