[submodule "darurat-android-app"]
	path = darurat-android-app
	url = git@github.com:Adranaut/DaruratIndonesianUrgentResponse.git
[submodule "darurat-user-api"]
	path = darurat-user-api
	url = git@github.com:aliifam/darurat-user-api.git
[submodule "darurat-admin-panel"]
	path = darurat-admin-panel
	url = git@github.com:aliifam/darurat-admin.git
[submodule "darurat-chatbot"]
	path = darurat-chatbot
	url = git@github.com:aliifam/darchat-prod.git
